@inherits LayoutComponentBase

<div class="page">
    <header>
        <!-- header content -->
    </header>
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <article class="content ">
            @Body
        </article>
    </main>

    <footer>
        <!--  footer content -->
    </footer>
</div>
